/**
 * Discord Bot settings. These are mandatory and will affect what the bot
 *   posts about, and where it posts to.
 */

module.exports = {
  discord: {
    token: 'NTIyMjYxNjAzNTk3NDE4NDk2.DvJGdQ.OxJwO30qg-tr7EP9D-9ZGnDfaDs',
    feedChannelId: '522192312609013772',
    statusChannelId: '522192312609013772'
  },
  guild: {
    guilds: ['Valiant Valkyries'],
    alliance: ''
  },
  battle: {
    minPlayers: 1,
    minRelevantPlayers: 1
  },
  kill: {
    minFame: 0
  }
};
